div{
    background-color: white;
    border: 5px solid gray;
    padding: 5px;
    margin: 5px;
}
/* Posicionamiento relativo */
.relative{
    position: relative;
    left: 80px;
    margin-left: 10px;
}

/* fixed posicionamiento fijo - se posiciona en relacion a la pantalla */
.fixed{
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.absolute{
    position: absolute;
    top: 0px;
}

/* posicionamiento "pegajoso" al hacer scroll modifica su posicionamiento ->fixed */
.sticky{
    position: sticky;
    background-color: salmon;
    color: white;
    top: 0px;
    z-index: 2;
}